.Cities-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #061116;
    padding: 0% 10%;
    gap: 20px;
}

.Cities-container h1 {
    color: white;
    position: relative;
    text-align: center;
}

.Cities-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}