.UnderConstruction-container {
    background-image: url("https://i.imgur.com/dT5RYmU.jpg");
    background-position: center 20%;
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
}

.UnderConstruction-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(6, 17, 22, 0.8);
}

h1 {
    color: white;
    position: relative;
    text-align: center;
}

h2 {
    color: #00D3EA;
    font-style: italic;
    position: relative;
    text-align: center;
}